node_modules
dist
dist-server
data/uploads
data/uploads/**
data/avatars
data/avatars/**
data/app.db
data/app.db-*
data/_update_tmp
data/_update_tmp/**
data/update-token.txt
.DS_Store
*.log
.env
.env.*
